<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Session Words</title>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'sessionapp/style.css' %}" />
  </head>
  <body>
    <div id='input'>
      <h1>Add a new word</h1>
      <form action="/submit" method="post">
        {% csrf_token %}
        <input type="text" name="word" placeholder="Please enter a word here"><br>
        Choose color:<br>
        <input type="radio" name="color" value="red">Red</input><br>
        <input type="radio" name="color" value="green">Green</input><br>
        <input type="radio" name="color" value="blue">Blue</input><br>
        Font size:<br>
        <input type="checkbox" name="big" value="big"> show in BIG fonts!<br>
        <input type="checkbox" name="big" value="notbig"> show in NORMAL fonts!<br>
        <input type="submit" value="Add to Session">
      </form>
      <a href="/clear">Clear Session</a>
    </div>
    <div id='result'>
      {% if request.session.list %}
        {% for dict in request.session.list %}
            <br><span class='{{ dict.color }} {{ dict.big }}'>{{ dict.word }}</span> ---added {{ dict.added }} </br>
        {% endfor %}
      {% endif %}
    </div>

  </body>
</html>